<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    {{- partial "head.html" . -}}
    <body class="flex flex-col min-h-screen bg-lightgray">
        {{- partial "header.html" . -}}
        <main class="container mx-auto">
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}

        {{ $app := resources.Get "js/app.js" | fingerprint }}
        <script src="{{ $app.RelPermalink }}" integrity="{{ $app.Data.Integrity }}"></script>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    </body>
</html>
