{{ define "main" }}
{{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}

<div class="grid grid-cols-2 gap-4 mt-20 mb-10">
  <div class="col-span-2 px-10 pt-10 pb-5 single-header">
    {{ partial "single-title.html" . }}
  </div>
  {{ range $paginator.Pages }}
    <article class="xs:col-span-2 lg:col-span-1 p-5 bg-white">
      {{ partial "feed-item.html" . }}
    </article>
  {{ end }}
  <div class="col-span-2 pt-2 flex justify-center">
    {{ partial "page-numbers.html" . }}
  </div>
</div>
{{ end }}
