{{ define "main" }}
{{ $isfullwidth := .Params.fullwidth }}
{{ $hastoc := .Params.toc }}

<article class="mt-5 mb-5 lg:mt-20 lg:mb-10">
  <div class="px-3 pt-10 pb-5 lg:px-10 single-header">
    {{ partial "single-title.html" . }}
  </div>
  <div class="grid grid-cols-3 px-3 py-12 bg-white lg:px-20 content">
    <div class="content lg:m-2 xs:col-span-3 lg:col-span-2 {{ if ($isfullwidth) }}lg:col-span-3{{ end }}">
      {{ .Content }}
    </div>
    {{ if not $isfullwidth }}
    <div class="text-sm content xs:col-span-3 lg:col-span-1">
      {{ if ($hastoc) }}
        On this page:
        {{ .TableOfContents }}
      {{ end }}
      </div>
    {{ end }}
  </div>
</article>
{{ end }}
