/* General */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

header {
  z-index: 9999;
}

.header-shadow {
  box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.29);
}

.bg-image {
  background-image: url('/img/hero-bg.png');
  background-repeat: repeat;
  background-size: 400px;
}


/* Typography */

.lekton {
  font-family: "Lekton", sans-serif;
  font-weight: normal;
}
/* Body content – type */

.content {
  @apply text-lg leading-normal;
}

.content p {
  padding-bottom: 1.4em;
}

.content a:link {
  @apply text-lightpurple;
}

.content a:hover {
  @apply text-darkpurple;
}

.content h1 {
  @apply text-3xl pt-8 pb-2;
}

.content h2 {
  @apply text-2xl pt-8 pb-2;
}

.content h3 {
  @apply text-xl pt-4 pb-1;
}

.content h4 {
  @apply text-lg pt-4 pb-1;
}

.content ul {
  list-style-type: square;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.8rem;
}

.content table {
  @apply w-full mt-1 mb-6;
}

.content table th {
  text-align: left;
  @apply bg-lightgray py-2 pl-2;
}

.content table tr {
  border-bottom: 1px solid #e2e8f0;
}

.content table td {
  @apply py-2 pl-2;
}

.content blockquote {
  @apply p-4 mt-1 mb-6; 
  border-left: 0.5rem solid #5371DD;
}

/* General - Footer */

footer {
  @apply text-xs text-white bg-darkpurple;
}

footer a {
  color: #837BFF;
}

footer a:hover {
  color: #FFFFFF;
}

/* single.html  */

.single-header {
   @apply text-white bg-darkpurple lekton bg-image;
}

/* partials/top-menu.html */

.child-menu {
  background-color: #ffff;
}

.parent-menu-item:hover {
  @apply bg-lightgray;
}

@screen sm {
  .navbar-item {
    width: 100%;
  }
  
  .parent-menu-item {
    height: 49px;
    display: flex;
    align-items: center;
  }
   
  .parent-menu-item:hover > .child-menu {
    display: block;
  }
  .child-menu {
    background-color: #ffff;
    position: absolute;
    margin-top: 49px;
    display: none;
    align-self: baseline;
  }
}

input#nav-toggle:checked~label#show-button {
    display: none;
}

input#nav-toggle:checked~label#hide-button {
    display: flex;
}

input#nav-toggle:checked~#nav-menu {
    display: block;
}

/* partials/home/hero.html */

.hero-btn {
  @apply m-10 py-2 px-4 float-right bg-lightpurple shadow text-white text-xl lekton;
}

.hero-btn:hover {
  @apply bg-mediumpurple;
}

@screen sm {
  .hero-img {
    @apply hidden;
  }
}

@screen md {
  .hero-img {
    @apply block col-span-12 px-10;
  }
}

@screen lg {
  .hero-img {
    @apply block col-span-5; 
  }
}

/* partials/home/trio.html */

.trio {
  @apply block flex flex-col m-10 p-10 shadow-md bg-white text-black;
}

.trio:hover {
  @apply bg-lightgray;
}

/* partials/home/members.html */

.member-logo img {
  filter:grayscale(100%);
  max-height: 100px;
}

.member-logo:hover img {
  filter:grayscale(0%);
}
