/* General */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* Typography */

.lekton {
  font-family: 'Lekton', sans-serif;
}

.header-shadow {
  box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.29);
}

/* Body content – type */

.content p {
  padding-bottom: 1.4em;
}

.content a:link {
  @apply text-lightpurple;
}

.content a:hover {
  @apply text-darkpurple;
}

.content h1 {
  @apply text-3xl pt-8 pb-2;
}

.content h2 {
  @apply text-2xl font-bold pt-8 pb-2;
}

.content h3 {
  @apply text-xl font-bold pt-4 pb-1;
}

.content h4 {
  @apply text-lg font-bold pt-4 pb-1;
}

/* General - Footer */

footer a {
  color: #837BFF;
}

footer a:hover {
  color: #FFFFFF;
}

/* partials/top-menu.html */

.child-menu {
  background-color: #ffff;
}

.parent-menu-item:hover {
  @apply bg-lightgray;
}

@screen sm {
  .navbar-item {
    width: 100%;
  }
  
  .parent-menu-item {
    height: 49px;
    display: flex;
    align-items: center;
  }
   
  .parent-menu-item:hover > .child-menu {
    display: block;
  }
  .child-menu {
    background-color: #ffff;
    position: absolute;
    margin-top: 49px;
    display: none;
    align-self: baseline;
  }
}

input#nav-toggle:checked~label#show-button {
    display: none;
}

input#nav-toggle:checked~label#hide-button {
    display: flex;
}

input#nav-toggle:checked~#nav-menu {
    display: block;
}

/* partials/home/hero.html */

.hero-btn {
  @apply m-10 py-2 px-4 float-right bg-lightpurple shadow text-white text-xl lekton;
}

.hero-btn:hover {
  @apply bg-mediumpurple;
}

@screen sm {
  .hero-img {
    @apply hidden;
  }
}

@screen md {
  .hero-img {
    @apply block col-span-12 px-10;
  }
}

@screen lg {
  .hero-img {
    @apply block col-span-5; 
  }
}

/* partials/home/trio.html */

.trio {
  @apply block flex flex-col m-10 p-10 shadow-md bg-white text-black;
}

.trio:hover {
  @apply bg-lightgray;
}
