<footer class="container grid grid-cols-12  mx-20 p-4 bg-darkpurple text-white text-xs">
  <p class="col-span-4">Copyright © {{ $.Site.Params.copyrightYear | markdownify }} The Linux Foundation®. All rights reserved. 
    The Linux Foundation has registered trademarks and uses trademarks. 
    For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">Trademark Usage</a> page. 
    Linux is a registered trademark of Linus Torvalds. <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">Privacy Policy</a> and <a href="https://www.linuxfoundation.org/terms" target="_blank">Terms of Use</a></p>
</footer>
