<footer class="container flex grid self-center grid-cols-12 p-4 md:w-full">
  <p class="col-span-12 lg:col-span-4">Copyright © The Linux Foundation®. All rights reserved.
    The Linux Foundation has registered trademarks and uses trademarks.
    For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">Trademark Usage</a> page.
    Linux is a registered trademark of Linus Torvalds. <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">Privacy Policy</a> and <a href="https://www.linuxfoundation.org/terms" target="_blank">Terms of Use</a></p>
</footer>
