{{ $title := .Title }}
{{ $url := printf "%s" .Permalink | absLangURL }}
{{ $body := print $title ", by " site.Title "\n" .Params.description "\n\n" $url "\n" }}
{{ $twtr := index (where site.Params.social ".name" "twitter") 0 }}
<div id="sharing">
  <a href="http://www.facebook.com/sharer.php?u={{ $url }}" class="pl-1" aria-label="share on Facebook">
    <ion-icon name="logo-facebook"></ion-icon>
  </a>

  <a href="http://twitter.com/share?url={{ $url }}&text={{ $title }}&via={{ $twtr.url }}" class="pl-1" aria-label="share on Twitter">
  <ion-icon name="logo-twitter"></ion-icon>
  </a>

  <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ $url }}&title={{ $title }}" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;" class="pl-1" aria-label="share on LinkedIn">
    <ion-icon name="logo-linkedin"></ion-icon>
  </a>
</div>
