<ul id="nav-menu" class="w-full flex-grow sm:flex items-center sm:w-auto hidden sm:block justify-end list-reset mt-2 sm:mt-0">
    {{ range .Site.Sections }}
    {{ $currentSection := .Section }}
    <li class="parent-menu-item">
        <a href="{{ .Permalink }}" class="inline-block text-gray-500 sm:px-2 hover:text-lightpurple lekton">{{ .Title }}</a>
        {{ if not (eq $currentSection "posts") }} <!--don't list posts in the subnav-->
          {{ range .RegularPages }}
          <div class="child-menu">
            <ul>
              <li>
                <a href="{{ .Permalink }}" class="inline-block text-gray-500 sm:px-2 hover:text-lightpurple lekton">{{ .Title }}</a>
              </li>
            </ul>
          {{ end }}
          </div>
        {{ end }}
    </li>
    {{ end }}
</ul>
