<div class="bg-darkpurple mt-20 mb-20">
  <div class="inner grid grid-cols-12 p-10">
    <div class="sm:col-span-12 md:col-span-12 lg:col-span-7 px-5 py-10">
      <h1 class="lekton text-5xl text-white">{{ site.Title }}</h1>
      <p class="lekton text-2xl text-white description">{{ $.Site.Params.description | markdownify }}</p>
      <p class="text-white herodescription">{{ $.Site.Params.herodescription | markdownify }}</p>
      <button class="hero-btn">
        Learn more <ion-icon name="return-down-forward-sharp" class="align-middle"></ion-icon>
      </button>
    </div>
    <div class="hero-img">
      <img src="img/hero.svg"/>
    </div>
  </div>
</div>
