<div class="grid grid-cols-12 bg-white p-6 mb-10">
  <h1 class="text-4xl col-span-12 lekton">Our Members</h1>
  <a href="http://www.99cloud.net/" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/99_cloud.png" alt="99 Cloud logo"/>
    </div>
  </a>
  <a href="https://www.alibabacloud.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/alibaba.png" alt="Alibaba Cloud logo"/>
    </div>
  </a>
  <a href="https://aws.amazon.com/" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/aws.png" alt="Amazon web services logo"/>
    </div>
  </a>
  <a href="https://chainguard.dev" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/chainguard.svg" alt="Chainguard logo"/>
    </div>
  </a>
  <a href="https://www.cisco.com/" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/cisco.png" alt="Cisco logo"/>
    </div>
  </a>
  <a href="https://d2iq.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/d2iq.svg" alt="D2IQ logo"/>
    </div>
  </a>
  <a href="https://www.delltechnologies.com/en-us/index.htm" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/dell-emc.png" alt="Dell EMC logo"/>
    </div>
  </a>
  
  <a href="https://www.docker.com/" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/docker.png" alt="Docker logo"/>
    </div>
  </a>
  <a href="https://www.easystack.cn" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/easystack.png" alt="Easystack logo"/>
    </div>
  </a>
  <a href="https://www.facebook.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/facebook.png" alt="Facebook logo"/>
    </div>
  </a>
  <a href="https://www.fujitsu.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/fujitsu.png" alt="Fujitsu logo"/>
    </div>
  </a>
  <a href="https://www.goldmansachs.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/goldman-sachs.png" alt="Goldman Sachs logo"/>
    </div>
  </a>
  <a href="https://www.google.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/google.png" alt="Google Sachs logo"/>
    </div>
  </a>
  <a href="https://www.huawei.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/huawei.png" alt="Huawei logo"/>
    </div>
  </a>
  <a href="https://www.ibm.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/ibm.png" alt="IBM logo"/>
    </div>
  </a>
  <a href="https://www.infosiftr.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/infosiftr.png" alt="Infosiftr logo"/>
    </div>
  </a>
  <a href="https://www.intel.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/intel.png" alt="Intel logo"/>
    </div>
  </a>
  <a href="https://www.joyent.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/joyent.png" alt="Joyent logo"/>
    </div>
  </a>
  <a href="https://www.microsoft.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/microsoft.png" alt="Microsoft logo"/>
    </div>
  </a>
  <a href="https://www.openstack.org/" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/openstack.png" alt="Openstack logo"/>
    </div>
  </a>
  <a href="https://www.oracle.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/oracle.png" alt="Oracle logo"/>
    </div>
  </a>
  <a href="https://www.pivotal.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/pivotal.png" alt="Pivotal logo"/>
    </div>
  </a>
  <a href="https://www.portworx.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/portworx.png" alt="Portworx logo"/>
    </div>
  </a>
  <a href="https://www.redhat.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/redhat.png" alt="Red Hat logo"/>
    </div>
  </a>
  <a href="https://www.replicated.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/replicated.png" alt="Replicated logo"/>
    </div>
  </a>
  <a href="https://www.sysdig.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/sysdig.png" alt="Sysdig logo"/>
    </div>
  </a>
  <a href="https://www.twistlock.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/twistlock.png" alt="Twistlock logo"/>
    </div>
  </a>
  <a href="https://www.vmware.com" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/vmware.png" alt="VMWare logo"/>
    </div>
  </a>
  <a href="https://www.weave.works/" target="_blank" class="xs:col-span-4 lg:col-span-2 m-5">
    <div class="flex flex-col items-center text-center member-logo">
      <img src="img/member-logos/weaveworks.png" alt="Weaveworks logo"/>
    </div>
  </a>
</div>
