<div class="grid grid-cols-9 -mt-48 trio-container">
  <a href="/community" class="trio sm:col-span-9 md:col-span-9 lg:col-span-3">
    <div class="flex flex-col items-center text-center">
      <img src="img/participate.svg" class="pb-5 trio-img"/>
      <p><strong>Participate</strong> in the technical community</p>
    </div>
  </a>
  <a href="/members" class="trio sm:col-span-9 md:col-span-9 lg:col-span-3">
    <div class="flex flex-col items-center text-center">
      <img src="img/member.svg" class="pb-5 trio-img"/>
      <p>Become a <strong>Member Organization</strong> and support the Open Container Initiative</p>
    </div>
  </a>
  <a href="/schedule" class="trio sm:col-span-9 md:col-span-9 lg:col-span-3">
    <div class="flex flex-col items-center text-center">
      <img src="img/schedule.svg" class="pb-5 trio-img"/>
      <p>Join the Open Container Initiative and its members at <strong>Events</strong> around the world </p>
    </div>
  </a>
</div>
